Thumbs.db
*.psess
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Pp]ackages
*.ssms_suo
*.backup
*.gitattributes

.idea
node_modules
bower_components
app/**/*.js
app/**/*.js.map

test/**/*.js
test/**/*.js.map

dist